.footer {
    position: fixed;
    /* display: block; */
    justify-content: center;
    bottom: 0;
    width: 100%;
    background-color: rgb(48, 41, 41);
    padding: 1.3rem;
    color: rgb(235, 223, 223);
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
}

.footer p {
    font-size: 1.3rem;
    color: rgb(202, 197, 197);
    bottom: 1rem;
}